body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row{
  padding: 2rem;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background: purple;
  color: #fff;
}

.logo{
  max-width: 100%;
  height: 100%;
}

nav h2{
  font-size: 1rem;
  font-weight: 500;
}

.form{
  display: grid;
  grid-template: 40px 40px /1fr 1fr;
  gap: 10px;
}

.form-input{
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.form_btn{
  grid-column: 1/-1;
  border-radius: 5px;
  border: none;
  color: #fff;
  background: purple;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}


.box{
  border: 3px solid hsl(0, 100%, 50%);
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 10px;
}

