*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.row{
  padding: 2rem;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem;
  background: rgb(39, 11, 92);
  color: #fff;
  margin-bottom: 30px;
}

.logo{
  max-width: 100%;
  height: 100%;
}

nav h2{
  font-size: 1.1rem;
  font-weight: 500;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 18px;
}

.form-input{
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
  padding: 12px 16px;
  font-size: 1.1rem;
}

.form_btn{
  border-radius: 5px;
  border: none;
  color: #fff;
  background: rgb(39, 11, 92);
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 12px 16px;
}

.meme{
  position: relative;
}

.meme_img{
  max-width: 100%;
  border-radius: 3px;
}

.meme_text{
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  margin: 15px 0;
  padding: 0 5px;
  transform: translateX(-50%);
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;

}
.meme .top_text{
  top: 0;
}
.meme .bottom_text{
  bottom: 0;
}

@media screen and (min-width: 640px ){
  .meme_img{
    width: 100%;
  }
}